{% extends "base.html" %}
{% block content %}
    <!--========================================== HEADER -->
    <h1 class="center-align satisfy">About</h1>
    <!--========================================== MAIN TEXT -->
    <section>
        <!--=========== intro -->
        <h2 class="xxl-text amber-text text-accent-4">Some subheading</h2>
        <div class="md-text">
            <p>
                Some standard about text.
            </p>
    <!--========================================== METRICS -->
    <section>
        <h2 class="hidden">Another subheading</h2>
        <div class="md-text">
            <!--=========== visual appeal -->
            <h3 class="center-align">
                <i class="fas fa-eye amber-text text-accent-4"></i> More subheadings
            </h3>
            <p>
                Random text about something.
            </p>
            <!--=========== divider -->
            <h3 class="center-align">
                <i class="fas fa-headphones amber-text text-accent-4"></i> More subheadings
            </h3>
            <p>
                Random text about something.
            </p>
            <!--=========== divider -->
            <h3 class="center-align">
                <i class="fas fa-quote-right amber-text text-accent-4"></i> More subheadings
            </h3>
            <p>
                Random text about something.
            </p>
    </section>
{% endblock %}